

<form action="/todos/{{ todo._id }}?_method=DELETE" method="POST">
    <div class="input-group">
        <div class="input-group-text">
            <input class="form-check-input" type="checkbox" name="isDone" {{#if todo.isDone}} checked {{/if}} disabled>
        </div>
        <span class="form-control">{{todo.name}}</span>
        <a class="btn btn-success" href="/todos/{{ todo._id }}/edit">edit</a>
        <button class="btn btn-danger" type="submit">delete</button>
    </div>
</form>